:root {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
}
html {
  overflow-x: hidden;
}
p {
  margin: 0;
}
/* HEADER STARTS HERE */

/* *sidebar 1st version */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  width: 52px;
  padding-right: 10px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 13px;
  background-color: #f6f6f6;
}

.sidebar-dashline {
  border-right: 2px dashed rgba(0, 0, 0, 0.3);
  height: 100%;
}
.head-bar {
  position: absolute;
  left: 0;
  top: 10px;
  bottom: auto;
  transform: rotate(-90deg);
  transform-origin: 50px 50px;
  line-height: 50px;
  white-space: nowrap;
  word-spacing: 0.5rem;
  background-color: transparent;
}
.tail-bar {
  position: absolute;
  left: 0;
  top: auto;
  bottom: 75px;
  transform: rotate(-90deg);
  transform-origin: 50px 50px;
  height: 50px;
  line-height: 50px;
  white-space: nowrap;
  word-spacing: 0.5rem;
  text-decoration: none;
}
.tail-bar .tail-bar-text {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
}

/* *sidebar 2nd version
.sidebar {
  background-color: #f6f6f6;
  width: 100%;
  transform: rotate(-90deg);
  transform-origin: top right;
  position: fixed;
  right: 100%;
  top: 0;
}

.sidebar-dashline {
  border-bottom: 1.5px dashed rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  align-items: flex-end;
  position: relative;
  right: 100vw;
}
.head-bar {
  position: relative;
  padding-left: 50px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 300;
}
.tail-bar {
  position: relative;
  left: 600px;
  padding-right: 600x;
  width: 400px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.tail-bar-text {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
  font-weight: 300;
} */
/* SECTION #0 STARTS HERE */

section {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  min-height: 60vh;
  height: auto;
  padding: 20vh 50px 20vh 75px;
}

/* TITLE */
.home .keyvisual-01 {
  position: absolute;
  width: 5vw;
  right: 30px;
  top: 20px;
}
.home .keyvisual-03 {
  position: absolute;
  width: 40vw;
  right: -10vw;
}
.home-title {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.heading {
  color: rgba(0, 0, 0, 0.3);
  font-size: 2vw;
  font-weight: 200;
  margin: 0;
}
.sub-heading {
  font-size: 5vw;
  margin: 0;
  font-weight: 700;
}
.separate-line {
  width: 3vw;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: left;
  margin-left: 0;
}

.home-content {
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 5vw;
  font-size: 1vw;
  font-weight: 200;
}
.home-content h1 {
  font-size: 1vw;
  font-weight: 300;
}

/* SECTION #1 STARTS HERE */
.keyvisual-02 {
  height: 12vw;
}
.about-me {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.right-side {
  width: 50%;
}
.p-01 {
  font-size: 3vw;
  font-weight: 700;
}
.p-02 {
  font-size: 1.5vw;
  font-weight: 300;
}

.element {
  height: 3vw;
}
.skills-heading {
  font-size: 2vw;
  font-weight: 400;
}
.skills-title {
  font-size: 1.5vw;
  font-weight: 300;
}

/* SECTION #2 STARTS HERE */
.element-03 {
  height: 45vw;
}
.portfolio {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
}
.contact-box {
  font-size: 1.5vw;
  font-weight: 300;
}
